[type="button"] {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;

  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--title-color);
  background-color: #f5f4fa;
}

[type="button"]:last-child {
  margin-right: 0;
}

.port-filter-item {
  margin-right: 8px;
}

.port-filter-item:last-child {
  margin-right: 0;
}

[type="button"]:hover,
[type="button"]:focus {
  color: #ffffff;
  background-color: var(--hover-color);
  cursor: pointer;
}

.port-filter {
  margin-top: 94px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc((100% - 60px) / 3);
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 94px;
}

.portfolio-wrap {
  padding: 20px 24px;
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.portfolio-works {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.88;
}
