/* Позиціонування
Коробкова модель
Друкарський
Візуальний
Різне */
/* .declaration-order {
    // Positioning
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
  
    // Box model
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
  
    // Typography
    font: normal 14px "Helvetica Neue", sans-serif;
    line-height: 1.5;
    color: #333;
    text-align: center;
    text-decoration: underline;
  
    // Visual
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
  
    // Misc
    opacity: 1;
  } */

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* The container must be used in child-elements; */

* {
  outline: 2px solid tomato;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

:root {
  --text-color: #757575;
  --title-color: #212121;
  --big-title-color: #ffffff;
  --hover-color: #2196f3;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 1.71;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  /* background-color: rgb(179, 160, 136); */
}
/* HEADER */
/* an altarnative version is writen in the comments */
.page-head {
  display: flex;
  align-items: center;
  height: 80px;

  border-bottom: 1px solid #ececec;
}

.logo {
  margin-right: 93px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: black;
  text-decoration: none;
}

.logo > span {
  color: var(--hover-color);
}

.navigation-list {
  display: flex;
}
.navigation-list a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-color);
}

/* .navigation-item {
  margin-left: 50px;
}

.navigation-item:first-child {
  margin-left: 93px;
} */
.navigation-item {
  margin-right: 50px;
}

.navigation-item:last-child {
  margin-right: 0;
}

.navigation-item a:hover,
.navigation-item a:focus {
  color: var(--hover-color);
  cursor: pointer;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts a {
  display: inline-flex;
  align-items: center;
  color: inherit;
  text-decoration: none;

  font-weight: 500;
  letter-spacing: 0.02em;
}

.contacts a:first-child {
  margin-right: 40px;
}
.contacts a:hover,
.contacts a:focus {
  color: var(--hover-color);
}

/* .contacts a:first-child::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  background-image: url(../images/SVG/envelope.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.contacts a:last-child::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 16px;
  margin-right: 10px;
  background-image: url(../images/SVG/phone.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
} */

.contacts a::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.contacts-mail::before {
  background-image: url(../images/SVG/envelope.svg);
}

a.contacts-tel::before {
  width: 10px;
  height: 16px;
  background-image: url(../images/SVG/phone.svg);
}
/* MAIN */

.wrapper-hero {
  text-align: center;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-img.jpg);
}

.hero h1 {
  padding-top: 200px;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--big-title-color);
}

.hero button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--hover-color);
  color: var(--big-title-color);
}

/* features */

.wrap-icon {
  height: 120px;
  text-align: center;
  margin-bottom: 30px;
}

.features-icon {
  margin-top: 25px;
}

/* .features-item::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;

  background-size: 70px 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.antenna::before {
  background-image: url(../images/SVG/antenna.svg);
}
.clock::before {
  background-image: url(../images/SVG/clock.svg);
}

.vector::before {
  background-image: url(../images/SVG/vector.svg);
}

.astronaut::before {
  background-image: url(../images/SVG/astronaut.svg);
} */

.features-list {
  display: flex;
}

.features-item {
  margin-top: 94px;
  margin-bottom: 94px;
  margin-right: 30px;
  width: calc((100%-90px) / 4);
}

.features-item:last-child {
  margin-right: 0;
}
.features-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
}

.features-description {
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color);
}

/* our-work */

.our-work {
  text-align: center;
}

.our-work h2 {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--title-color);
}

.our-work-list {
  display: flex;
}
.our-work-item {
  margin-right: 30px;
  margin-bottom: 94px;
  width: calc((100%-60px) / 3);
}
.our-work-item:last-child {
  margin-right: 0;
}

/* team */

.team {
  text-align: center;
}

.team-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--title-color);
}

.team-list {
  display: flex;
}

.team-item {
  margin-right: 30px;
  margin-bottom: 94px;
  width: calc((100%-90px) / 4);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item img {
  margin-bottom: 30px;
  overflow: hidden;
}

.team-item:last-child {
  margin-right: 0px;
}

.team-item h3 {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-color);
}

.team-item p {
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 1.19;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-icon {
  margin-right: 10px;
  border-radius: 50%;
}

.social-icon a {
  display: block;
  width: 44px;
  height: 44px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}
.social-icon:last-child {
  margin-right: 0;
}

.instagram {
  background-image: url(../images/SVG/instagram.svg);
}

.twitter {
  background-image: url(../images/SVG/twitter.svg);
}

.facebook {
  background-image: url(../images/SVG/facebook.svg);
}

.linkedin {
  background-image: url(../images/SVG/linkedin.svg);
}

/* clients */
.clients {
  text-align: center;
  margin-bottom: 90px;
}

.clients-head {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: var(--title-color);
}
.clients-list {
  display: flex;
}

.clients-item {
  width: calc((100%-150px) / 6);
  /* background-color: red; */
  margin-right: 30px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients-item:last-child {
  margin-right: 0;
}

.clients-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* .clients-icon {
  width: 106px;
  height: 60px; }*/

footer {
  background-color: #2f303a;
}

.foot-logo {
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 28px;
  color: var(--big-title-color);
}

address {
  font-style: normal;
}
footer p {
  margin-bottom: 12px;

  font-size: 14px;
  line-height: 1.71;
  color: var(--big-title-color);
}

address a {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  color: inherit;
}

.footer-contacts a:first-child {
  margin-bottom: 12px;
}

address {
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
}

.footer-social-icon {
  margin-left: 70px;
}
.footer-social-icon h2 {
  margin-top: 72px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.footer-social-icon .social-list {
  margin-top: 20px;
}

.footer-social-icon .social-icon {
  background-color: rgba(255, 255, 255, 0.1);
}
